docs/source/mashups/mashup_template_xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Wirecloud Mashup Template -->
<!-- Version: 1.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://morfeo-project.org/2007/Template" xmlns:t="http://morfeo-project.org/2007/Template">
  <xs:element name="Template">
    <xs:complexType>
      <xs:all>
        <xs:element name="Catalog.ResourceDescription"
          minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Vendor" type="t:VendorType">
                <xs:annotation>
                  <xs:documentation>
                    The distributor of the mashup. It
                    cannot contain the "/" character.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Name" type="t:NameType">
                <xs:annotation>
                  <xs:documentation>
                    Name of the mashup. It cannot
                    contain the "/" character.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Version" type="t:VersionType">
                <xs:annotation>
                  <xs:documentation>
                    Current version of the mashup. It
                    must define starting sequences of numbers separated
                    by dots. Moreover, zeros can only be used alone
                    (e.g. 0.1 is valid but 03.2 is not).
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="DisplayName" minOccurs="0"
                maxOccurs="1" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Name used in the user interface for
                    the mashup. This field can be translated, therefore
                    this field is not used to uniquely identify the
                    mashup.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Author" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Developer of the mashup.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Mail" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    E-mail address to get in touch with
                    the developer(s).
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Description" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    A brief textual description of the
                    mashup.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ImageURI" type="xs:anyURI">
                <xs:annotation>
                  <xs:documentation>
                    Absolute or template-relative URL of
                    the mashup image for the catalog.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="iPhoneImageURI" type="xs:anyURI">
                <xs:annotation>
                  <xs:documentation>
                    Image to be used in iPhone and
                    other smartphones.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="WikiURI" type="xs:anyURI">
                <xs:annotation>
                  <xs:documentation>
                    Absolute or template-relative
                    URL of the mashup documentation.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="IncludedResources">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Tab" minOccurs="1"
                      maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Resource"
                            minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Position">
                                  <xs:complexType>
                                    <xs:attribute name="x"
                                      type="xs:string" use="required" />
                                    <xs:attribute name="y"
                                      type="xs:string" use="required" />
                                    <xs:attribute name="z"
                                      type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Rendering">
                                  <xs:complexType>
                                    <xs:attribute name="width"
                                      type="xs:string" use="required" />
                                    <xs:attribute name="minimized"
                                      type="xs:string" use="required" />
                                    <xs:attribute name="layout"
                                      type="xs:string" use="required" />
                                    <xs:attribute name="height"
                                      type="xs:string" use="required" />
                                    <xs:attribute name="fulldragboard"
                                      type="xs:boolean" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="vendor"
                                type="t:VendorType" use="required" />
                              <xs:attribute name="name"
                                use="required" type="t:NameType" />
                              <xs:attribute name="version"
                                type="t:VersionType" use="required" />
                              <xs:attribute name="title"
                                use="required" type="xs:string">
                                <xs:annotation>
                                  <xs:documentation></xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="id" use="required"
                                type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required"
                          type="xs:string">
                        </xs:attribute>
                        <xs:attribute name="id" use="required"
                          type="xs:string">
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Platform.Wiring" minOccurs="0"
          maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              List of Input/Output endpoints of the
              widgets contained in the mashup.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Event">
                <xs:annotation>
                  <xs:documentation>
                    Output Endpoint
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="name" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Name that will be used
                        to
                        identify this output
                        endpoint. This field
                        cannot
                        be translated.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="label" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Text that will be used
                        to
                        reference this output
                        endpoint in the user
                        interface. This field
                        can be translated.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="description" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="friendcode" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Slot">
                <xs:complexType>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="name" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Name that will be used
                        to
                        identify this input
                        endpoint. This field
                        cannot be
                        translated.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="label" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Text that will be used
                        to
                        reference this input
                        endpoint in the user
                        interface. This field
                        can be translated.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="action_label">
                    <xs:annotation>
                      <xs:documentation>
                        Text that will be used
                        in the
                        user interface to
                        indicate what is going
                        to happen
                        if an event
                        arrives this input
                        endpoint.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="description" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="friendcode" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Operator">
                <xs:annotation>
                  <xs:documentation>Instanciated operator used in this
                    mashup.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string"
                    use="required" />
                  <xs:attribute name="vendor" type="t:VendorType"
                    use="required" />
                  <xs:attribute name="name" use="required"
                    type="t:NameType" />
                  <xs:attribute name="version" type="t:VersionType"
                    use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Connection">
                <xs:annotation>
                  <xs:documentation>Connection between an input endpoint
                    and an output endpoint for this mashup.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Source" minOccurs="1"
                      maxOccurs="1" type="t:EndpointType" />
                    <xs:element name="Target" minOccurs="1"
                      maxOccurs="1" type="t:EndpointType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Translations" minOccurs="0"
          maxOccurs="1">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Translation">
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="msg">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name" use="required">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:pattern value=".+">
                                  </xs:pattern>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="lang" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value=".+">
                        </xs:pattern>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="default" type="xs:string" use="required">
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="VendorType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^/]+"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^/]+"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VersionType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="EndpointType">
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="endpoint" type="xs:string" />
  </xs:complexType>
</xs:schema>
