docs/source/widgets/template/xml_template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Wirecloud Widget Template -->
<!-- Version: 1.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#"
  targetNamespace="http://wirecloud.conwet.fi.upm.es/ns/template#"
  xmlns:wt="http://wirecloud.conwet.fi.upm.es/ns/template#"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">

  <xs:simpleType name="NonEmpty">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*\S+.*"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VendorType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{L}\p{N}_-]+"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{L}\p{N}_-]+"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([1-9]\d*\.|0\.)*([1-9]\d*|0)"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Template">
    <xs:complexType>
      <xs:all minOccurs="1" maxOccurs="1">
        <xs:element name="Catalog.ResourceDescription" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="Vendor" type="wt:VendorType">
                <xs:annotation>
                  <xs:documentation>
                    The distributor of the widget.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Name" type="wt:NameType">
                <xs:annotation>
                  <xs:documentation>
                    Name of the widget.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Version" type="wt:VersionType">
                <xs:annotation>
                  <xs:documentation>
                    Current version of the widget. It must
                    define starting sequences of numbers separated by dots.
                    Moreover, zeros can only be used alone (e.g. 0.1 is valid
                    but 03.2 is not).
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="DisplayName" minOccurs="0" maxOccurs="1"
                type="wt:NonEmpty">
                <xs:annotation>
                  <xs:documentation>
                    Name used in the user interface for the
                    widget. This field can be translated, therefore this field
                    is not used to uniquely identify the widget.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Author" type="wt:NonEmpty">
                <xs:annotation>
                  <xs:documentation>
                    Developer of the widget.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Mail" type="wt:NonEmpty">
                <xs:annotation>
                  <xs:documentation>
                    E-mail address to get in touch with the
                    developer(s).
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Description" type="wt:NonEmpty">
                <xs:annotation>
                  <xs:documentation>
                    A brief textual description of the widget.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ImageURI" type="xs:anyURI">
                <xs:annotation>
                  <xs:documentation>
                    Absolute or template-relative URL of the
                    widget image for the catalog.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="iPhoneImageURI" type="xs:anyURI">
                <xs:annotation>
                  <xs:documentation>
                    Image to be used in iPhone and other
                    smartphones.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="WikiURI" type="xs:anyURI">
                <xs:annotation>
                  <xs:documentation>
                    Absolute or template-relative URL of the
                    widget documentation.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Requirements" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Feature">
                      <xs:complexType>
                        <xs:attribute name="name" type="wt:NonEmpty">
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="Platform.Preferences" minOccurs="0"
          maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              The user preferences, which may be changed through
              the platform interface.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Preference">
                <xs:annotation>
                  <xs:documentation>
                    The user preferences, which may be changed
                    through the platform interface. It's a mandatory element,
                    consisting of one, several or even none preference
                    sub-elements
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Option" minOccurs="0"
                      maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>
                          Defines an item of the selection list.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="name" type="wt:NonEmpty"
                          use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Text to display in the selection
                              list.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="value" type="wt:NonEmpty"
                          use="required">
                          <xs:annotation>
                            <xs:documentation>
                              The value used when the option is
                              selected.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Data type used by the preference: text
                        (string), number, boolean, password and list.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="text"></xs:enumeration>
                        <xs:enumeration value="number"></xs:enumeration>
                        <xs:enumeration value="boolean">
                        </xs:enumeration>
                        <xs:enumeration value="password">
                        </xs:enumeration>
                        <xs:enumeration value="list"></xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="name" use="required" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Name that will be used to identify this
                        preference. This field cannot be translated.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="label" use="required" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Text that will be used to reference this
                        preference in the user interface. This field can be
                        translated.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="description" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Descriptive text.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="default" type="wt:NonEmpty"
                    use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Default value.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Platform.StateProperties" minOccurs="0"
          maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              This element contains some variables that reflects
              the persitant widget state. The state can be any information
              desired to be persisted.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
                <xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>
                      Defines a state variable.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="name" use="required" type="wt:NonEmpty">
                      <xs:annotation>
                        <xs:documentation>
                          Name of the variable.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="type" use="required">
                      <xs:annotation>
                        <xs:documentation>
                          Data type of the variable. So far only
                          the type text (string) is allowed.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="text">
                          </xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>

                    <xs:attribute name="label" use="required" type="wt:NonEmpty">
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Platform.Wiring" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              List of Input/Output endpoints widget will use to
              communicate with other widgets through the wiring.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="OutputEndpoint">
                <xs:annotation>
                  <xs:documentation>
                    Output Endpoint
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="text"></xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="name" use="required" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Name that will be used to identify this
                        output endpoint. This field cannot be translated.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="label" use="required" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Text that will be used to reference this
                        output endpoint in the user interface. This field can be
                        translated.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="description" use="required"
                    type="wt:NonEmpty">
                  </xs:attribute>
                  <xs:attribute name="friendcode" use="required"
                    type="wt:NonEmpty">
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="InputEndpoint">
                <xs:annotation>
                  <xs:documentation>Input endpoint</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="text"></xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="name" use="required" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Name that will be used to identify this
                        input endpoint. This field cannot be translated.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="label" use="required" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Text that will be used to reference this
                        input endpoint in the user interface. This field can be
                        translated.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="action_label" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Short text describing what is going to
                        happen if an event is sent to this input endpoint. Other
                        widgets will use this text in buttons, selection boxes,
                        etc... allowing end users to select what to do (and the
                        widget will send a event to the associated target
                        endpoint).
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="description" use="required"
                    type="wt:NonEmpty">
                  </xs:attribute>
                  <xs:attribute name="friendcode" use="required"
                    type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Keyword used to tag the input endpoint,
                        so it can be easily suggested valid conection during the
                        wiring process.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Platform.Link" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element minOccurs="1" maxOccurs="1" name="XHTML">
                <xs:complexType>
                  <xs:attribute name="href" type="xs:anyURI" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Absolute or template-relative URL of
                        widget code.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="contenttype" type="wt:NonEmpty">
                    <xs:annotation>
                      <xs:documentation>
                        Content type of the linked resource.
                        Suggested values are: text/html and
                        application/xml+xhtml. Optional attribute, 'text/html'
                        by default.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="cacheable" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>
                        Whether this code can be cached by the
                        platform. Possible values are "true" and "false".
                        Optional attribute, "true" by default.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="Platform.Rendering" minOccurs="1"
          maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Contains information about how to show the widget
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="width" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:byte" />
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="height" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:byte" />
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Translations" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Translation">
                <xs:annotation>
                  <xs:documentation>
                    A translation for a specified language
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="msg" type="wt:NonEmpty">
                      <xs:annotation>
                        <xs:documentation>Translated text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="lang" use="required" type="xs:language">
                    <xs:annotation>
                      <xs:documentation>Translation language</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="default" type="xs:language" use="required">
              <xs:annotation>
                <xs:documentation>Default widget language.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
